.navbar {
  background-color: #fff;
}

.navbar a {
  color: #0f2845 !important;
  font-size: 18px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}
.navbar-brand {
  font-weight: 600;
  font-size: 30px !important;
  padding: 0px;
}

.navbar-toggler span {
  display: block;
  background-color: #444;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  -webkit-transition: transform 0.35s ease-in-out;
  -moz-transition: transform 0.35s ease-in-out;
  -o-transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  /* position: absolute; */
  /* left: 12px; */
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  /* position: absolute; */
  /* left: 12px; */
  bottom: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

.navbar-toggler span {
  background-color: #0f2845;
}

.navbar-light .navbar-toggler {
  color: #0f2845;
  border-color: #0f2845;
}

.addLink {
  border-radius: 25px !important;
  color: #fff;
  width: 150px;
  text-align: center;
  border: 0px;
}
.bgGrad {
  background: linear-gradient(-45deg, #8668ad 0%, #55bbeb 100%);
}
.highLight {
  color: #5d53b8;
}

.button:active,
button:active,
.button:focus,
button:focus {
  border: none !important;
  outline: none !important;
}
